* {
    margin: 0;
    padding: 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a,
button {
    cursor: pointer;
    transition: .3s ease;

    &:focus {
        outline: 0;

    }
}

.title {
    h3 {
        font-weight: 700;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -15px;
            left: 0;
            width: 70px;
            height: 1px;
            background: $tertiary-color;
        }
    }
}



.section {
    padding-top: 80px;
    padding-bottom: 80px;
    
}
