// Color Variables
$primary-color: #F6F6F6;
$secondery-color :#E8505B;
$tertiary-color: #222222;
$text-color: #777777;
$border-color:  #DEDBDC;
$second-border-color:#D7D7D7;
$white: #fff;
$input-text-color:#999999;
$pagination-bg:#F4F4F4;


// Font Variables
$primary-font:'PT Sans', sans-serif;