@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a,
a:hover,
a:focus {
  text-decoration: none; }

a,
button {
  cursor: pointer;
  transition: .3s ease; }
  a:focus,
  button:focus {
    outline: 0; }

.title h3 {
  font-weight: 700;
  position: relative; }
  .title h3::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 70px;
    height: 1px;
    background: #222222; }

.section {
  padding-top: 80px;
  padding-bottom: 80px; }

/*  typography */
body {
  line-height: 1.5;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  color: #777777;
  overflow-x: hidden; }

p,
.paragraph {
  font-weight: 400;
  color: #777777;
  font-size: 16px;
  line-height: 1.5;
  font-family: "PT Sans", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #222222; }

h1,
.h1 {
  font-size: 50px;
  line-height: 65px; }

h2,
.h2 {
  font-size: 26px;
  font-weight: 700; }

h3,
.h3 {
  font-size: 23px;
  line-height: 34px;
  font-weight: 400; }

h4,
.h4 {
  font-size: 20px;
  font-weight: 700; }

h5,
.h5 {
  font-size: 18px;
  font-weight: 700; }

h6,
.h6 {
  font-size: 16px;
  font-weight: 700; }

.fixd-manu {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.161); }

.navigation {
  background: #fff;
  width: 100%;
  z-index: 9999;
  transition: .4s; }
  .navigation .navbar-brand {
    padding-top: 0; }
  .navigation .search-btn {
    position: relative; }
    .navigation .search-btn .form-control {
      width: 280px;
      border: 2px solid #DEDBDC;
      border-radius: 0rem;
      transition: border-color .0, box-shadow 0;
      height: 50px;
      color: #999999; }
      .navigation .search-btn .form-control:focus {
        box-shadow: none; }
    .navigation .search-btn .btn {
      position: absolute;
      top: 0;
      right: 14px; }
      .navigation .search-btn .btn i {
        font-size: 13px;
        position: relative; }
        .navigation .search-btn .btn i::after {
          width: 0.5px;
          height: 18px;
          background: #DEDBDC;
          position: absolute;
          left: -15px;
          top: -3px;
          content: ""; }
      .navigation .search-btn .btn:focus {
        box-shadow: none; }
  .navigation ul li {
    position: relative; }
    .navigation ul li:hover .sub-menu {
      opacity: 1;
      visibility: visible;
      top: 90%; }
    .navigation ul li a {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 15px !important;
      padding-right: 15px !important;
      color: #222222 !important;
      font-size: 15px;
      transition: .4s; }
      .navigation ul li a:hover {
        color: #E8505B !important; }
    .navigation ul li select {
      margin-top: 20px;
      margin-left: 15px !important;
      margin-right: 15px !important;
      background: transparent;
      border: 0; }
    .navigation ul li .sub-menu {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 70%;
      width: 200px;
      background: #fff;
      opacity: 0;
      text-align: left;
      box-shadow: 0 10px 30px rgba(68, 74, 102, 0.1);
      border-top: 3px solid #E8505B;
      transition: .4s; }
      .navigation ul li .sub-menu li a {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px; }
  .navigation .navbar-toggler {
    margin-top: 15px; }

@media (max-width: 575.98px) {
  .navigation .navber {
    padding: 20px 0 20px 10px !important; }
    .navigation .navber .navbar-toggler i {
      margin-top: 10px !important; }
    .navigation .navber .navbar-toggler:focus {
      box-shadow: 0; }
  .navigation ul {
    background: #F6F6F6 !important;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
    margin-top: 30px; }
    .navigation ul li a {
      padding: 0px 0px 30px 0 !important; }
  .navigation .from-area {
    position: relative;
    top: -80px;
    display: flex;
    justify-content: center;
    align-content: center; } }
@media (min-width: 576px) and (max-width: 768px) {
  .navigation .navber {
    padding: 20px 0 !important; }
    .navigation .navber .navbar-toggler i {
      margin-top: 10px !important; }
    .navigation .navber .navbar-toggler:focus {
      box-shadow: 0; }
  .navigation ul {
    background: #F6F6F6 !important;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
    margin-top: 30px; }
    .navigation ul li a {
      padding: 0px 0px 30px 0 !important; }
  .navigation .from-area {
    position: relative;
    top: -80px;
    display: flex;
    justify-content: center;
    align-content: center; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  .navigation .navber {
    padding: 20px 0 !important; }
    .navigation .navber .navbar-toggler i {
      margin-top: 10px !important; }
    .navigation .navber .navbar-toggler:focus {
      box-shadow: 0; }
  .navigation ul {
    background: #F6F6F6 !important;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
    margin-top: 30px; }
    .navigation ul li a {
      padding: 0px 0px 30px 0 !important; }
  .navigation .from-area {
    position: relative;
    top: -80px;
    display: flex;
    justify-content: center;
    align-content: center; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .navigation ul li a {
    padding-left: 10px !important;
    padding-right: 10px !important; } }
.tools-list li a {
  display: block;
  padding: 12px 20px;
  margin-bottom: 5px;
  border-radius: 4px;
  color: #000; }

.mixitup-control-active {
  padding: 12px 20px;
  color: #fff !important;
  cursor: pointer;
  background: #E8505B; }

.card-body {
  box-shadow: 0 10px 30px rgba(68, 74, 102, 0.1) !important; }

.btn-transparen {
  color: #E8505B;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #E8505B;
  padding: 2px; }

footer .links li a:hover {
  color: #E8505B !important;
  text-decoration: underline; }
footer .socal-icon li a {
  display: inline-block;
  margin-right: 15px; }
  footer .socal-icon li a i {
    width: 38px;
    height: 38px;
    border: 1px solid #E8505B !important;
    color: #E8505B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: .4s; }
    footer .socal-icon li a i:hover {
      color: #222222;
      border: 1px solid #222222 !important; }
footer span a {
  display: inline-block;
  color: #666; }
  footer span a:hover {
    color: #E8505B !important;
    text-decoration: underline; }

@media (max-width: 575.98px) {
  footer .logo {
    display: block;
    text-align: center; } }
@media (min-width: 576px) and (max-width: 768px) {
  footer .logo {
    display: block;
    text-align: center; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  footer .logo {
    display: block;
    text-align: center; } }
#what-is-figma {
  font-size: 40px !important;
  line-height: 3;
  font-weight: 700; }

.collaboration-in-figma {
  font-size: 30px;
  line-height: 2;
  font-weight: 700; }

ol li {
  line-height: 1.7; }

.btn-outline-primary {
  color: #E8505B;
  border-color: #E8505B;
  line-height: 25px; }
  .btn-outline-primary:hover {
    background: #E8505B;
    border-color: #E8505B; }

/*# sourceMappingURL=style.css.map */
