
.fixd-manu{
    box-shadow: 0 0 10px rgba(0,0,0,.161);

}

.navigation {
    background: $white;
    width: 100%;
    z-index: 9999;
    transition: .4s;
    .navbar-brand {
        padding-top: 0;
       
    }
    .search-btn {
        position: relative;

        .form-control {
            width: 280px;
            border: 2px solid $border-color;
            border-radius: 0rem;
            transition: border-color .0, box-shadow 0;
            height: 50px;
            color: $input-text-color;

            &:focus {
                box-shadow: none;
            }
        }

        .btn {
            position: absolute;
            top: 0;
            right: 14px;

            i {
                font-size: 13px;
                position: relative;

                &::after {
                    width: 0.5px;
                    height: 18px;
                    background: $border-color;
                    position: absolute;
                    left: -15px;
                    top: -3px;
                    content: "";
                }
            }

            &:focus {
                box-shadow: none;
            }
        }
    }

    ul {
        li {
            position: relative;

            &:hover {
                .sub-menu {
                    opacity: 1;
                    visibility: visible;
                    top: 90%;

                }
            }

            a {
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 15px !important;
                padding-right: 15px !important;
                color: $tertiary-color !important;
                font-size: 15px;
                transition: .4s;

                &:hover {
                    color: $secondery-color !important;


                }

            }

            select {
                margin-top: 20px;
                margin-left: 15px !important;
                margin-right: 15px !important;
                background: transparent;
                border: 0;
            }

            .sub-menu {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 70%;
                width: 200px;
                background: $white;
                opacity: 0;
                text-align: left;
                box-shadow: 0 10px 30px rgba(68, 74, 102, .1);
                border-top: 3px solid $secondery-color;
                transition: .4s;

                li {
                    a {
                        display: block;
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }

    .navbar-toggler {
        margin-top: 15px;
    }
}

@include mobile {
    .navigation {
        .navber {
            padding: 20px 0 20px 10px !important;

            .navbar-toggler {
                i {
                    margin-top: 10px !important;
                }
            }

            .navbar-toggler:focus {
                box-shadow: 0;
            }
        }

        ul {
            background: $primary-color !important;
            text-align: center;
            padding-top: 30px;
            padding-bottom: 60px;
            margin-top: 30px;

            li {
                a {
                    padding: 0px 0px 30px 0 !important;
                }
            }
        }

        .from-area {
            position: relative;
            top: -80px;
            display: flex;
            justify-content: center;
            align-content: center;
        }
    }
}

@include tablet {
    .navigation {
        .navber {
            padding: 20px 0 !important;

            .navbar-toggler {
                i {
                    margin-top: 10px !important;
                }
            }

            .navbar-toggler:focus {
                box-shadow: 0;
            }
        }

        ul {
            background: $primary-color !important;
            text-align: center;
            padding-top: 30px;
            padding-bottom: 60px;
            margin-top: 30px;

            li {
                a {
                    padding: 0px 0px 30px 0 !important;
                }
            }
        }

        .from-area {
            position: relative;
            top: -80px;
            display: flex;
            justify-content: center;
            align-content: center;
        }
    }
}

@include desktop {
    .navigation {
        .navber {
            padding: 20px 0 !important;

            .navbar-toggler {
                i {
                    margin-top: 10px !important;
                }
            }

            .navbar-toggler:focus {

                box-shadow: 0;
            }
        }

        ul {
            background: $primary-color !important;
            text-align: center;
            padding-top: 30px;
            padding-bottom: 60px;
            margin-top: 30px;

            li {
                a {
                    padding: 0px 0px 30px 0 !important;
                }
            }
        }

        .from-area {
            position: relative;
            top: -80px;
            display: flex;
            justify-content: center;
            align-content: center;
        }
    }
}
@include desktop-lg{
    .navigation ul li a {

        padding-left: 10px !important;
        padding-right: 10px !important;
     
    }
}